@use './vars';
@use './animation';

/* hebrew */
@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/varelaround/v20/w8gdH283Tvk__Lua32TysjIfpcuPLdshZhVB.woff2) format('woff2');
  unicode-range: U+0307-0308, U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* vietnamese */
@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/varelaround/v20/w8gdH283Tvk__Lua32TysjIfqMuPLdshZhVB.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304,
    U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/varelaround/v20/w8gdH283Tvk__Lua32TysjIfqcuPLdshZhVB.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF,
    U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/varelaround/v20/w8gdH283Tvk__Lua32TysjIfp8uPLdshZg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
    U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  @include vars.css-vars(false);
  scroll-behavior: smooth;

  body {
    font-size: 16px;
    font-family: 'Varela Round', 'Noto Sans SC', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
      sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  }

  /* 浏览器滚动条 */
  > ::-webkit-scrollbar {
    width: 10px;
  }

  > ::-webkit-scrollbar-corner,
  > ::-webkit-scrollbar-track {
    background-color: #e2e2e2;
  }

  > ::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.3);
  }

  > ::-webkit-scrollbar-button:vertical {
    display: none;
  }

  > ::-webkit-scrollbar-thumb:vertical:hover {
    background-color: rgba(0, 0, 0, 0.35);
  }

  > ::-webkit-scrollbar-thumb:vertical:active {
    background-color: rgba(0, 0, 0, 0.38);
  }
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.pc {
  display: initial;
}

.mb {
  display: none;
}

html[class*='theme-dark'] {
  @include vars.css-vars(true);

  > ::-webkit-scrollbar-corner,
  > ::-webkit-scrollbar-track {
    background-color: rgb(15, 15, 15);
  }

  > ::-webkit-scrollbar-thumb {
    background-color: #444;
  }

  > ::-webkit-scrollbar-thumb:vertical:hover {
    background-color: rgb(58, 58, 58);
  }

  > ::-webkit-scrollbar-thumb:vertical:active {
    background-color: rgb(58, 58, 58);
  }
}

.md-editor-preview {
  overflow: visible !important;

  // .generate-heading(@i) when (@i <= 6) {
  //   h@{i} {
  //     // transform: translateX(-1rem);
  //     a.header-anchor {
  //       margin-left: 0;
  //       opacity: 0;
  //       // margin-right: 10px;
  //       // opacity: 1;
  //       transition: 0.3s;
  //     }

  //     &:hover {
  //       a.header-anchor {
  //         margin-left: 10px;
  //         opacity: 1;
  //       }
  //     }
  //   }

  //   .generate-heading((@i + 1));
  // }

  // .generate-heading(1);
}

body {
  color: var(--iz-color);
  background-color: var(--iz-bk-color);
  min-height: 100vh;
}

@media (max-width: 768px) {
  .pc {
    display: none;
  }

  .mb {
    display: initial;
  }
}

.doc {
  display: flex;
  padding: 2rem;

  .catalog {
    width: 25%;
  }

  .content {
    width: 75%;
    padding-right: 1rem;
    flex-shrink: 0;
  }
}

@media (max-width: 768px) {
  .doc {
    padding: 1rem;

    .catalog {
      display: none;
    }

    .content {
      width: 100%;
      padding-right: 0;

      .md-editor-preview-wrapper {
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
  }
}

// ==

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 1rem;

  .nav-item {
    padding: 0 1rem;
    cursor: pointer;
    line-height: 1;

    .icon {
      width: 1.1em;
      height: 1.1em;
      padding-right: 3px;
    }

    a {
      color: inherit;
    }
  }
}

@media (max-width: 768px) {
  .nav-list {
    flex-direction: column;
    margin: 1rem;

    .nav-item {
      text-align: left;
      margin: 0.4rem 0;
      padding: 0;
      color: var(--iz-color);

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

// ===

.project-preview {
  padding: 2rem;

  .tips-text {
    color: #777;
  }
}

// ===

.page-header {
  --page-header-bg-color: hsl(150, 76%, 34%);

  color: var(--iz-color-reverse);
  // padding: 4rem 6rem;
  padding: 2em 0;
  text-align: center;
  background-color: var(--page-header-bg-color);
  background-image: linear-gradient(120deg, #155799, #159957);
  border-bottom: var(--iz-border-color);
  transition: color 0.2s linear;

  .project-name {
    font-size: 3.25rem;
    padding: 0.5rem;
    color: inherit;

    sup {
      font-size: 1.5rem;
      position: relative;
      top: 0;
      line-height: initial;
      vertical-align: top;
    }
  }

  .project-desc {
    font-size: 1.25rem;
    padding: 1rem;
  }

  .header-actions {
    padding: 2rem 0 0;
  }
}

.btn-header {
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  user-select: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  line-height: 1.5;
  background: transparent;
  height: auto;
  color: var(--iz-color-reverse);
  border-color: var(--iz-border-color-reverse);

  &:first-child ~ * {
    margin-left: 10px;
  }

  &:hover {
    color: var(--iz-hover-color-reverse);
    border-color: var(--iz-border-hover-color-reverse);
  }

  a {
    text-decoration: none;
    color: inherit;

    &:visited {
      color: inherit;
    }
  }
}

@media (max-width: 768px) {
  .page-header {
    padding: 1em 0;
    text-align: center;

    .project-name {
      font-size: 2.25rem;
      padding: 0.5rem;
      color: inherit;

      sup {
        font-size: 1rem;
        position: relative;
        top: 0;
        line-height: initial;
        vertical-align: top;
      }
    }

    .project-desc {
      font-size: 1rem;
    }

    .m-menu-trigger {
      position: fixed;
      top: 33px;
      right: 15px;
      font-size: 26px;
      z-index: 10;
      color: var(--iz-color);
    }
  }

  .header-hr {
    margin: 2rem 1rem;
    background-color: var(--iz-border-color);
    height: 1px;
  }

  .header-actions {
    margin: 1rem;

    .btn-header {
      color: var(--iz-color);
      border-color: var(--iz-border-color);
      margin-top: 1rem;
      margin-left: 0;
      width: 138px;

      &:first-of-type {
        margin-top: 0;
      }
    }
  }
}

html[class*='theme-dark'] {
  .page-header {
    --page-header-bg-color: inherit;
    background-image: none;
  }
}

// ==

.affix {
  position: sticky;
  top: 10px;
  max-height: 100vh;
  overflow: auto;

  &::-webkit-scrollbar {
    height: 0;
    width: 0;
  }
}

// ==
.dropdown-content {
  position: absolute;
  margin-top: 10px;
  opacity: 0;
  z-index: -1;

  &::before {
    content: ' ';
    left: 50%;
    top: -4px;
    height: 8px;
    width: 8px;
    transform: translateX(-50%) rotate(45deg);
    background-color: var(--iz-bk-color);
    position: absolute;
    pointer-events: none;
    border-style: solid;
    border-color: transparent;
    border-left-color: var(--iz-border-color);
    border-top-color: var(--iz-border-color);
    border-width: 1px;
  }
}

.dropdown-active {
  z-index: 10001;
  opacity: 1;
}

.dropdown-menu {
  padding: 8px 0;
  background-color: var(--iz-bk-color);
  border-radius: 3px;
  border: 1px solid var(--iz-border-color);
}

.dropdown-menu-item {
  list-style: none;
  font-size: 14px;
  color: var(--iz-color);
  padding: 8px 10px;
  line-height: 14px;
  cursor: pointer;

  &:hover {
    background-color: var(--iz-bk-hover-color);
  }
}

// ==

$drawerWidth: 200px;

/* 打开抽屉动画 */
@keyframes slideOpen {
  from {
    transform: translate(100%);
  }
  to {
    transform: translate(0);
  }
}

/* 关闭抽屉动画 */
@keyframes slideClose {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(100%);
  }
}

.iz-drawer-root-hidden {
  overflow: hidden;
}

.iz-drawer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1000;
  transition: all 0.3s;
  display: none;

  &-content {
    width: $drawerWidth;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--iz-bk-color);
    z-index: 1001;
    overflow: auto;
  }
}

.open {
  display: block;
  &-content {
    animation: slideOpen 0.3s ease forwards;
  }
}

.close {
  &-content {
    animation: slideClose 0.3s ease forwards;
  }
}

// ===
.back-top {
  position: fixed;
  right: 40px;
  bottom: 30px;
  font-size: 26px;
  cursor: pointer;
}
